@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  font-family: 'Roboto', sans-serif;
}

body h1 {
  text-align: center;
  font-weight: 100;
}

.body-content {
  display: flex;
  flex-direction: row;
}

.container {
  letter-spacing: 0.05vw;
  text-justify: auto;
  width: 40%;
  flex: 1;
  padding: 1vw;
}
