@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
  font-family:'Roboto', sans-serif;
  display: flex;
  flex-direction: row;
}
h1{
  text-align: center;
  font-weight: 100;

}

.subtitle{
  text-align: center;
  font-weight: 100;
  color: rgb(201, 201, 201);
}
.container{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  flex: 1;
  padding: 5vw;
}

.navMain{
  border: solid;
  border-color: gainsboro;
  border-width: 0.1vw;
  // box-shadow: 10px 10px 5px gainsboro;
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 40vw;
flex: 0.09;
// background: cadetblue;

.navLinks{
display: flex;
flex-direction: column;
font-size: 3vw;
a{
  color: rgb(85, 76, 76);
  margin: 2vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
a:hover{
  color: gainsboro;
}
}

}
