/* body nav {
  display: flex;
}

body nav a {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  text-decoration: none;
  font-size: 1.5vw;
}

body nav a:hover {
  /* text-decoration: line-through; */
}

.Tub{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */

.Love{
  text-emphasis:none;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

.dd{

  width: 100%;
  height: auto; 

}

.amit{

  width: 100%;
  height: auto;

}

/* <style> */
/* .dd { basic responsive img */
	/* max-width: 100%; */
	/* height: auto; */
	/* width: auto\9; IE8 */
/* } */
/* </style> */

/* <img class="dd" src="../../media/officers/YardenJsu.jpg" alt="Yarden"/> */